/* =========================
   FONTES
========================= */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap');


html {
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
}

/* =========================
   VARIÁVEIS DE IDENTIDADE
========================= */

:root {
    --vermelho: #B32626;
    --cinza: #4A4A4A;
    --branco: #F8F9FA;
    --chumbo: #222222;
    --cinza-claro: #e5e5e5;
    --preto: #151515;
}


/* =========================
   RESET
========================= */

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}


/* =========================
   BASE
========================= */

body {
    background: #ffffff;

    color: var(--preto);

    font-family: 'DM Sans', sans-serif;

    animation: pageFadeIn 0.18s ease-out;
}


/* =========================
   TÍTULOS
========================= */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Space Grotesk', sans-serif;
}


/* =========================
   ANIMAÇÃO
========================= */

@keyframes pageFadeIn {

    from {
        opacity: 0.96;
    }

    to {
        opacity: 1;
    }
}

/* ================================
   CÍRCULOS DECORATIVOS
================================ */

.decorative-circle {
    position: absolute;

    border-radius: 50%;

    pointer-events: none;
}


/* Círculo vermelho preenchido */

.circle-one {
    width: 520px;
    height: 520px;

    right: -180px;
    top: -180px;

    background: var(--vermelho);

    opacity: 0.08;
}


/* Círculo de contorno */

.circle-two {
    width: 380px;
    height: 380px;

    right: -90px;
    top: -90px;

    border: 1px solid var(--vermelho);

    opacity: 0.35;
}



/* =========================
   FOOTER
========================= */
.footer {
  background: var(--chumbo);
  color: #cccccc;
  padding: 0; 
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  width: 100%;          
  max-width: 1600px;    /* pode aumentar */
  margin: 0 auto;
  padding: 2rem 60px;   /* padding CONTROLADO aqui */
}

 
.footer h3 {
  color: #ffffff;
  margin-bottom: 15px;
}

.footer a {
  color: #cccccc;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer a:hover {
  color: var(--vermelho);
}

.contato-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.social-icons a {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.footer-bottom {
  text-align: center;
  padding-bottom: 1rem ;
  font-size: 0.85rem;
  color: #888;
}

/* =========================
   RESPONSIVO
========================= */


@media (max-width: 900px) {
  .footer-container {
    flex-direction: column;
    gap: 2rem;
  }
}


